.steps-container{
    /* height: 120vh; */
    padding-top: 3rem;
    background-image: url(../images/Rectangle\ 1.png);
    background-repeat: no repeat;
    background-size: cover;
}
.stepss{
      display: flex;
      flex-direction: row;
      justify-content: center;

  }
  .steps-container > h2{
    font-family: 'Aclonica', sans-serif;
    font-size: 3.5rem;
    text-align: center;
    color: #4E4F90;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
  .steps-left > img{
    height: 94vh;
    width: 80%;
    margin-top: 10vh;
  }
  .s1{
    display: flex;
    flex-direction: row;
  }
  .arr  img{
    display: inline;
    height: 16rem;
    width: 25rem;
    border-radius: 15px;
    margin-left: 20px;
  }
  .arr{
    /* display: inline; */
    height: 16rem;
    width: 25rem;
    border-radius: 15px;
    margin-left: 20px;
  }
  .flip{
    transform: translateX(200px) scaleX(-1);
  }
  .arr > .arrow{
    width: 10rem;
  }
  .s1 > img{
    height: 16rem;
    width: 25rem;
    border-radius: 15px;
    margin-left: 20px;
    box-shadow: 4px 4px 2px #00B4CF;
      -moz-box-shadow: 4px 4px 2px #00B4CF;
      -webkit-box-shadow: 4px 4px 2px #00B4CF;
      -khtml-box-shadow: 4px 4px 2px #00B4CF;
  }
  .steps-right p{
    font-size: 2rem;
  }


  /* ---------------------------------------- */

  @media screen and  (max-width: 900px){
    .steps-left > img{
      display: none;
    }
    .steps-right p{
      font-size: 1.8rem;
    }
    .s1{
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    .s1 > img{
      height: 14rem;
      width: 20rem;
    }
  }
  @media screen and  (max-width: 420px){
    .steps-left > img{
      display: none;
    }
    .arr{
      display: none;
    }
    .steps-right p{
      font-size: 1.4rem;
    }
    .s1 > img{
      height: 10rem;
      width: 15rem;
    }
  }